<footer id="contact">
  <div class="container">

      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 text-center"> 
            <h2>Authors</h2>
            <hr class="small">
          </div>
        </div>

    <div class="row">


      
      <div class="col-md-4 text-center">
        <h4><strong>Derick Ostrenko</strong>
        </h4>
        <p>
          Artist.
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><i class="fa fa-diamond fa-fw"></i>  <a href="http://frederickostrenko.com">frederickostrenko.com</a></li>
        </ul>
       
      </div>
      <div class="col-md-4 text-center">
        <h4><strong>Jesse Allison</strong>
        </h4>
        <p>
          Composer.
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:jtallison@lsu.edu">jtallison@lsu.edu</a></li>
          <li><i class="fa fa-diamond fa-fw"></i>  <a href="http://allisonic.com">allisonic.com</a></li>
        </ul>
        
      </div>
       <div class="col-md-4 text-center">
        <h4><strong>Vincent Cellucci</strong>
        </h4>
        <p>
          Poet.
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:vcelluc1@lsu.edu">vcelluc1@lsu.edu</a></li>
                    <li><i class="fa fa-diamond fa-fw"></i>  <a href="http://www.vincentacellucci.com/">vincentacellucci.com</a></li>
        </ul>
        
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <br>
        <hr class="small">
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
      </div>
    </div>
  </div>
</footer>
